* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

#grid {
    height: 400px;
    width: 400px;
}


.square {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 40px;
    height: 40px;

    border: 1px solid black;

    cursor: pointer;
    
}


.square.active {
    background-color: rgb(103, 164, 255);
}